.blog-bg-color{
  background: #f8f9fa;
  padding: 37px;

}

.title {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 2.0rem; 
}

.teaser-text {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem; 
}


@media screen and (min-width : 576px) and (max-width: 992px) {
  .title {
    font-size: 1.8rem; 
  }
  .teaser-text {
    font-size: 1.1rem; 
  }
}

@media screen and (max-width: 768px)  {
  .title {
    font-size: 1.2rem; 
    margin-top: 20px;
  }
  .teaser-text {
    font-size: 0.8rem; 
  }
  .blog-bg-color{
    margin-bottom: 10px !important;
    margin-top: 10px !important;
  }
  
  .fixed-image {
    width: 100%;
    height:auto;
    object-fit: cover; 
  }

  .detail-container{
    order:2;
 }

 .image-container{
   order:1;
 }

}

.anchor-element{
  text-decoration: none;
  color:#FFFFFF;
  background-color: rgb(0, 183, 255);
  padding: 12px;
  font-family: 'Roboto';
  border-radius: 5px;
  cursor: pointer;
}

.fixed-image {
  width: 100%;
  height:auto;
  object-fit: cover; 
}
